@page "/Contacto/Index"
@inject NavigationManager NavigationManager
@inject UsuariosService usuariosService
@rendermode InteractiveServer


<PageTitle>TixPro - Consulta de Contacto</PageTitle>

<EditForm Model="ListaContacto" class="border shadow-lg p-3 rounded">
    <!-- Encabezado -->
    <div class="card-header bg-black text-white text-center py-2 rounded-3">
        <h3 style="font-weight: bold;" class="mb-0 font-weight-bold">Consulta de Contacto</h3>
    </div>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-auto">
                <div class="card  border-0 rounded-3">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <!-- Icono de Usuario -->
                            <div class="col-md-3 text-center text-md-end mb-3 mb-md-0">
                                <label class="d-inline-block fs-4 fw-bold text-black">
                                    Buscar Usuario 
                                </label>
                            </div>
                            <!-- Filtro -->
                            <div class="col-md-4 d-flex align-items-center mb-3 mb-md-0">
                                <label for="Filtro" class="form-label fw-bold me-3">Filtrar:</label>
                                <select @bind="filtro" class="form-select form-select-lg">
                                    <option value="id">ID</option>
                                    <option value="nombre">Nombre</option>
                                    <option value="whatsapp">WhatsApp</option>
                                    <option value="asunto">Asunto</option>
                                </select>
                            </div>
                            <!-- Barra de Búsqueda -->
                            <div class="col-md-5 d-flex align-items-center mb-3 mb-md-0">
                                <div class="input-group input-group-lg">
                                    <input @bind="valorFiltro" class="form-control" placeholder="Buscar..." />
                                    <button @onclick="Buscar" class="btn btn-primary" type="button">
                                        <span class="bi bi-search"></span> Buscar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Tabla -->
    <table class="table table-bordered text-center">
        <thead class="bg-primary text-white">
            <tr>
                <th>Nombre</th>
                <th>WhatsApp</th>
                <th>Asunto</th>
                <th>Ver</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var usuario in ListaContacto)
            {
                <tr>
                    <td>@usuario.nombre</td>
                    <td>@usuario.whatsapp</td>
                    <td>@usuario.asunto</td>
                    <td>
                        <a href="/Contacto/Details/@usuario.usuarioId" class="btn btn-info btn-sm">
                            <i class="bi bi-eye"></i>
                        </a>
                    </td>
                    <td>
                        <a href="/Contacto/Delete/@usuario.usuarioId" class="btn btn-danger btn-sm">
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
 
                </tr>
            }
        </tbody>
    </table>
    <div class="card-footer text-start">
        <p>Total de Contacto: @ListaContacto.Count</p>
    </div>
    <div style="height: 415px;"></div>
</EditForm>
<!-- Footer-->
<footer class="py-5 bg-dark" style="border-top-left-radius: 20px; border-top-right-radius: 20px;">
    <div class="container"><p class="m-0 text-center text-white">Copyright  &copy; Ozcudi-Studios </p></div>
</footer>

@code {
    public List<Usuario> ListaContacto { get; set; } = new List<Usuario>();
    private string valorFiltro = "";
    private string filtro = "id";

    protected override async Task OnInitializedAsync()
    {
        ListaContacto = await usuariosService.Listar(u => true);
    }

    public async Task Buscar()
    {
        if (!string.IsNullOrWhiteSpace(valorFiltro))
        {
            if (filtro == "nombre")
            {
                ListaContacto = await usuariosService.Listar(u => u.nombre != null && u.nombre.Contains(valorFiltro));
            }
            else if (filtro == "whatsapp")
            {
                ListaContacto = await usuariosService.Listar(u => u.whatsapp != null && u.whatsapp.Contains(valorFiltro));
            }
            else if (filtro == "asunto")
            {
                ListaContacto = await usuariosService.Listar(u => u.asunto != null && u.asunto.Contains(valorFiltro));
            }
        }
        else
        {
            ListaContacto = await usuariosService.Listar(u => true);
        }
    }
}
