@inherits LayoutComponentBase

<div class="page">
    <main>
       <AuthorizeView>
           <NotAuthorized>
                <div class="top-row px-4 d-flex align-items-center justify-content-between">
                    <!-- Logo a la izquierda -->
                    <a href="/">
                        <img class="card-img-top" src="images/TixProLogo.png" alt="Logo" style="width: 30%; height: 30%;  object-fit: cover;" />
                    </a>

                    <!-- Contenedor centrado para los botones de Eventos y Crear Evento -->
                    <div class="d-flex justify-content-center align-items-center flex-grow-1">
                        <a href="/" class="nav-link link-dark fw-bold">Eventos</a>
                        <a href="/Eventos/Create" class="nav-link link-dark fw-bold">Crear Evento</a>
                        <a href="/Eventos/Create" class="nav-link link-dark fw-bold">Contacto</a>
                        <a href="/Eventos/Create" class="nav-link link-dark fw-bold">About Us</a>
                    </div>

                    <!-- Contenedor para botones de cuenta y crear evento a la derecha -->
                    <div class="ms-auto">
                        <a href="/Account/Login" class="btn btn-outline-dark bi bi-person-badge rounded-pill" type="button"> Mi cuenta</a>
                    </div>
                </div>


            </NotAuthorized>

            <Authorized>
                <div class="top-row px-4 d-flex align-items-center justify-content-between">
                    <a href="/">
                        <img class="card-img-top" src="images/tixlogo en png.png" alt="Logo" style="width: 60px; height: 60px; border-radius: 50%; object-fit: cover;" />
                    </a>

                    <div class="d-flex justify-content-center align-items-center flex-grow-1">
                        <a href="/" class="nav-link link-dark fw-bold">Eventos</a>
                        <a href="/Eventos/Create" class="nav-link link-dark fw-bold">Crear Evento</a>
                        <a href="/Eventos/Create" class="nav-link link-dark fw-bold">Contacto</a>
                        <a href="/Eventos/Create" class="nav-link link-dark fw-bold">About Us</a>
                    </div>

                    <div class="ms-auto">
                        <a href="/Account/Manage" class="btn btn-outline-dark bi bi-person rounded-pill" type="button"> Mi cuenta</a>                        
                    </div>
                </div>                
            </Authorized>
        </AuthorizeView>
       

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@* <AuthorizeView Roles="Admin">
                            <ChildContent Context="adminContext">
                                <a href="/Eventos/Create" class="btn btn-dark bi bi-file-earmark-plus-fill rounded-pill" type="button"> Crear Evento</a>
                            </ChildContent>
                        </AuthorizeView> *@