/* Botón primario */
<style>
.btn-primary {
    background-color: black; /* Color más suave */
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

    .btn-primary:hover {
        background-color: #2c5282; /* Un tono de azul más oscuro */
        transform: translateY(-2px);
    }

/* Grupo de botones */
.btn-group .btn {
    background-color: black;
    border: none;
    height: 50px;
    padding: 1rem 1.5rem; 
    font-weight: bold;
    font-size: 1.25rem;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
}

    .btn-group .btn:hover {
        background-color: #1e40af;
    }


/* Caja de cantidad */
.quantity-box input {
    text-align: center;
    font-size: 1.5rem; /* Aumenta el tamaño de la fuente */
    padding: 0.75rem;
    height: 50px;
    width: 70px;
    border-top: 2px solid transparent; /* Borde superior más largo */
    border-bottom: 2px solid transparent; /* Borde inferior más largo */
    border-left: 2px solid transparent; /* Borde lateral izquierdo transparente */
    border-right: 2px solid transparent; /* Borde lateral derecho transparente */
    transition: border-color 0.3s;
}


    .quantity-box input:focus {
        border-color: #1e40af; /* Color de borde cuando está enfocado */
    }

/* Estilo de los controles de cantidad */
.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem; /* Espacio entre controles */
}

/* Botón de compra */
.btn-outline-success {
    background-color: #000; /* Fondo negro */
    border-color: #000; /* Borde negro */
    color: white;
    padding: 1rem 4rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}

    .btn-outline-success:hover {
        background-color: #1e40af; /* Fondo azul */
        color: white; /* Texto blanco */
        border-color: #1e40af;
    }

    .btn-outline-success .total-price {
        margin-left: 1rem;
        font-size: 1.1rem;
        font-weight: normal;
        color: #fff;
    }
</style>