@page "/Ticket/Create"

<InputFile OnChange="OnChange" />
<div>

</div>


@code{
    private const int tamanoMaximoArchivo = 450 * 300 * 4;
    private List<string> imagen = new List<string>();

    async Task OnChange(InputFileChangeEventArgs e)
    {
        // using var stream = archivo.OpenReadStream(tamanoMaximoArchivo);
        // using var ms = new MemoryStream();
        // await stream.CopyToAsync(ms);
        // imagen.Add($"data:{archivo.ContentType};base64,{Convert.ToBase64String(ms.ToArray())}");
    }
}