@page "/Account/AccessDenied"

<PageTitle>TixPro - Access denied</PageTitle>

<header>
    <h1 class="text-danger">Acceso Denegado</h1>
    <p class="text-danger">No tienes el Rol necesario para acceder a esta pagina</p>
</header>
